@use '@scss/global/functions' as *;

.main {
    display: flex;
    flex-direction: column;
}

.stay {

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 87px;

    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
    }
}

.testimonial {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &__author {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    &__author-info {
        display: flex;
        flex-direction: column;
        row-gap: 1.8px;
    }
}

.get {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
    }
}