:root {
    --clr-primary: hsl(243, 87%, 12%);
    --clr-primary-light: hsl(238, 22%, 44%);
    --clr-accent-btn: hsl(224, 93%, 58%);
    --clr-accent-link: hsl(170, 46%, 34%);
    --clr-accent-link-hover: hsl(170, 63%, 66%);
    --clr-hover: hsl(221, 100%, 71%);
    --clr-error: hsl(343, 84%, 61%);
    --clr-section-bg: hsl(240, 75%, 98%);
    --clr-input: hsl(0, 0%, 46%);
    --clr-modal-email: hsl(171, 46%, 48%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-input-shadow-primary: hsla(0, 0%, 0%, 0.159);
    --clr-input-shadow-secondary: hsla(243, 87%, 12%, 0.157);
    --clr-quote-shadow: hsla(0, 0%, 22%, 0.0459);
}